PORT=5000
# Local MongoDB
# MONGODB_URI=mongodb://127.0.0.1:27017/ai-student-assistant

# MongoDB Atlas - Add your connection string here
DATA_BASE_STRING=mongodb+srv://hashir_ahmad:12345a@cluster.mongodb.net/ai-student-assistant

# Groq API Key
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_VISION_MODEL=meta-llama/llama-4-scout-17b-16e-instruct

# Frontend URL
CLIENT_URL=http://localhost:5173


